version: "3.8"
services:
  napcat:
    image: mlikiowa/napcat-docker:latest
    container_name: napcat
    restart: always
    network_mode: host
    volumes:
      - ./napcat/config:/app/napcat/config
      - ./napcat/qq:/app/.config/QQ
    environment:
      - TZ=Asia/Shanghai
      - WS_ENABLE=true
      - WS_URLS=["ws://127.0.0.1:8080/onebot/v11/ws"]

  bot:
    build: .
    container_name: qqbot
    restart: always
    network_mode: host
    env_file:
      - .env
    volumes:
      - ./src:/app/src
      - ./data:/app/data
    depends_on:
      - napcat
